block variables
doctype html
html(lang="uk")
  head
    title #{pageTitle}
    meta(charset="utf-8")
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    link(rel="stylesheet" href="/css/site.css")
    <meta name="viewport" content="width=device-width">
  body
    block content
    .alerts
    script(src='/js/jquery-3.4.1.min.js')
    script(src='/js/main-pages.js')
